# Investing.com

In [2]:
import investpy

In [3]:
start_date = "01/01/2000"
end_date = "31/12/2021"

In [38]:
#indices: stocks, funds, ETFs, currency crosses, certificates, bonds, commodities, indices, and cryptos
search_result = investpy.search_quotes(text='Brent', products=['commodities'], n_results=1)
print(search_result)

{"id_": 8833, "name": "Brent Oil Futures", "symbol": "LCO", "country": null, "tag": "/commodities/brent-oil", "pair_type": "commodities", "exchange": "ICE"}

In [64]:
OIL_BRENT = investpy.get_commodity_historical_data(commodity='Brent Oil', from_date=start_date, to_date=end_date)
OIL_BRENT['Relative Change'] = (OIL_BRENT['Close'] - OIL_BRENT['Close'].shift()) / OIL_BRENT['Close'].shift()
OIL_BRENT

             Open   High    Low  Close  Volume Currency  Relative Change
Date
2000-01-04  23.90  24.70  23.89  24.39   32509      USD              NaN
2000-01-05  24.25  24.37  23.70  23.73   30310      USD        -0.027060
2000-01-06  23.55  24.22  23.35  23.62   44662      USD        -0.004635
2000-01-07  23.57  23.98  23.05  23.09   34826      USD        -0.022439
2000-01-10  23.04  23.78  23.04  23.73   26388      USD         0.027718
...           ...    ...    ...    ...     ...      ...              ...
2021-12-27  76.32  79.08  75.75  78.60   85387      USD         0.032309
2021-12-28  78.67  79.85  78.48  78.94   50411      USD         0.004326
2021-12-29  79.28  80.17  78.13  79.23   69626      USD         0.003674
2021-12-30  79.19  79.66  78.50  79.32   10896      USD         0.001136
2021-12-31  78.81  79.68  77.55  77.78  148959      USD        -0.019415

[5648 rows x 7 columns]

In [37]:
search_result = investpy.search_quotes(text='WTI', products=['commodities'], n_results=1)
print(search_result)

{"id_": 8849, "name": "Crude Oil WTI Futures", "symbol": "T", "country": null, "tag": "/commodities/crude-oil", "pair_type": "commodities", "exchange": "ICE"}

In [65]:
OIL_WTI = investpy.get_commodity_historical_data(commodity='Crude Oil WTI', from_date=start_date, to_date=end_date)
OIL_WTI['Relative Change'] = (OIL_WTI['Close'] - OIL_WTI['Close'].shift()) / OIL_WTI['Close'].shift()
OIL_WTI

             Open   High    Low  Close  Volume Currency  Relative Change
Date
2000-01-04  25.20  25.69  24.71  25.55   74788      USD              NaN
2000-01-05  25.50  25.61  24.87  24.91   70944      USD        -0.025049
2000-01-06  24.80  25.34  24.51  24.78   85252      USD        -0.005219
2000-01-07  24.65  25.00  24.15  24.22   91828      USD        -0.022599
2000-01-10  24.22  24.75  24.02  24.67   68901      USD         0.018580
...           ...    ...    ...    ...     ...      ...              ...
2021-12-27  73.38  76.09  72.57  75.57  268490      USD         0.024123
2021-12-28  75.97  76.92  75.53  75.98  249728      USD         0.005425
2021-12-29  76.04  77.37  75.36  76.56  283557      USD         0.007634
2021-12-30  76.58  77.44  75.78  76.99  231163      USD         0.005617
2021-12-31  76.66  77.08  74.95  75.21  237118      USD        -0.023120

[5622 rows x 7 columns]

In [44]:
search_result = investpy.search_quotes(text='gold', products=['commodities'], n_results=1)
print(search_result)

{"id_": 8830, "name": "Gold Futures", "symbol": "ZG", "country": null, "tag": "/commodities/gold", "pair_type": "commodities", "exchange": "ICE"}

In [66]:
Gold_F = investpy.get_commodity_historical_data(commodity='Gold', from_date=start_date, to_date=end_date)
Gold_F['Relative Change'] = (Gold_F['Close'] - Gold_F['Close'].shift()) / Gold_F['Close'].shift()
Gold_F

              Open    High     Low   Close  Volume Currency  Relative Change
Date
2000-01-04   281.0   281.0   281.0   282.7       4      USD              NaN
2000-01-05   283.2   283.2   283.2   281.1      16      USD        -0.005660
2000-01-06   281.4   281.4   281.4   281.4       0      USD         0.001067
2000-01-07   281.9   281.9   281.9   281.9       0      USD         0.001777
2000-01-10   281.7   281.7   281.7   281.7       0      USD        -0.000709
...            ...     ...     ...     ...     ...      ...              ...
2021-12-27  1812.3  1819.0  1810.6  1813.4     470      USD         0.001823
2021-12-28  1817.0  1825.9  1810.5  1815.5     377      USD         0.001158
2021-12-29  1810.2  1812.6  1793.7  1810.5     479      USD        -0.002754
2021-12-30  1809.7  1822.6  1801.1  1818.9    2138      USD         0.004640
2021-12-31  1822.0  1835.6  1820.6  1833.4    1954      USD         0.007972

[5627 rows x 7 columns]

In [53]:
search_result = investpy.search_quotes(text='XAU/USD', n_results=1)
print(search_result)

{"id_": 68, "name": "Gold Spot US Dollar", "symbol": "XAU/USD", "country": "gold", "tag": "/currencies/xau-usd", "pair_type": "currencies", "exchange": ""}

In [67]:
XAU_USD = investpy.get_currency_cross_historical_data(currency_cross='XAU/USD', from_date=start_date, to_date=end_date)
XAU_USD['Relative Change'] = (XAU_USD['Close'] - XAU_USD['Close'].shift()) / XAU_USD['Close'].shift()
XAU_USD

               Open     High      Low    Close Currency  Relative Change
Date
2000-01-03   288.50   289.00   289.00   289.00      USD              NaN
2000-01-04   288.75   282.45   282.45   282.45      USD        -0.022664
2000-01-05   281.50   281.00   281.00   281.00      USD        -0.005134
2000-01-06   280.12   281.23   281.23   281.23      USD         0.000819
2000-01-07   281.15   281.75   281.75   281.75      USD         0.001849
...             ...      ...      ...      ...      ...              ...
2021-12-27  1808.19  1813.74  1802.89  1810.90      USD         0.001543
2021-12-28  1811.84  1820.70  1804.38  1805.37      USD        -0.003054
2021-12-29  1805.59  1808.16  1788.94  1803.66      USD        -0.000947
2021-12-30  1803.99  1817.44  1795.78  1815.01      USD         0.006293
2021-12-31  1815.44  1830.58  1814.15  1828.39      USD         0.007372

[5729 rows x 6 columns]

In [69]:
XAG_USD = investpy.get_currency_cross_historical_data(currency_cross='XAG/USD', from_date=start_date, to_date=end_date)
XAG_USD['Relative Change'] = (XAG_USD['Close'] - XAG_USD['Close'].shift()) / XAG_USD['Close'].shift()
XAG_USD

              Open    High     Low   Close Currency  Relative Change
Date
2000-01-03   5.400   5.360   5.340   5.360      USD              NaN
2000-01-04   5.390   5.350   5.330   5.350      USD        -0.001866
2000-01-05   5.320   5.170   5.150   5.170      USD        -0.033645
2000-01-06   5.130   5.120   5.110   5.120      USD        -0.009671
2000-01-07   5.100   5.160   5.150   5.160      USD         0.007813
...            ...     ...     ...     ...      ...              ...
2021-12-27  22.855  23.135  22.645  23.040      USD         0.004359
2021-12-28  23.075  23.465  22.960  22.992      USD        -0.002083
2021-12-29  23.010  23.185  22.585  22.807      USD        -0.008046
2021-12-30  22.824  23.155  22.595  23.032      USD         0.009865
2021-12-31  23.055  23.355  23.025  23.268      USD         0.010247

[5732 rows x 6 columns]

In [58]:
search_result = investpy.search_quotes(text='gas', n_results=1)
print(search_result)

{"id_": 8862, "name": "Natural Gas Futures", "symbol": "NG", "country": null, "tag": "/commodities/natural-gas", "pair_type": "commodities", "exchange": "NYMEX"}

In [70]:
GAS = investpy.get_commodity_historical_data(commodity='Natural Gas', from_date=start_date, to_date=end_date)
GAS['Relative Change'] = (GAS['Close'] - GAS['Close'].shift()) / GAS['Close'].shift()
GAS

             Open   High    Low  Close  Volume Currency  Relative Change
Date
2000-01-04  2.130  2.200  2.130  2.176   30152      USD              NaN
2000-01-05  2.180  2.200  2.125  2.168   27946      USD        -0.003676
2000-01-06  2.165  2.220  2.135  2.196   29071      USD         0.012915
2000-01-07  2.195  2.230  2.155  2.173   28455      USD        -0.010474
2000-01-10  2.180  2.255  2.165  2.216   28916      USD         0.019788
...           ...    ...    ...    ...     ...      ...              ...
2021-12-27  3.958  4.087  3.767  4.060   38911      USD         0.088180
2021-12-28  4.065  4.154  3.955  4.055   35643      USD        -0.001232
2021-12-29  4.080  4.261  3.905  4.024    4817      USD        -0.007645
2021-12-30  3.853  3.966  3.536  3.561  124667      USD        -0.115060
2021-12-31  3.589  3.794  3.572  3.730   93098      USD         0.047459

[5620 rows x 7 columns]

In [60]:
search_result = investpy.search_quotes(text='silver', n_results=1)
print(search_result)

{"id_": 8836, "name": "Silver Futures", "symbol": "ZI", "country": null, "tag": "/commodities/silver", "pair_type": "commodities", "exchange": "ICE"}

In [71]:
SILVER = investpy.get_commodity_historical_data(commodity='Silver', from_date=start_date, to_date=end_date)
SILVER['Relative Change'] = (SILVER['Close'] - SILVER['Close'].shift()) / SILVER['Close'].shift()
SILVER

              Open    High     Low   Close  Volume Currency  Relative Change
Date
2000-01-04   5.290   5.290   5.290   5.335       3      USD              NaN
2000-01-05   5.170   5.170   5.170   5.170       0      USD        -0.030928
2000-01-06   5.127   5.127   5.127   5.127       0      USD        -0.008317
2000-01-07   5.150   5.150   5.150   5.150      50      USD         0.004486
2000-01-10   5.145   5.145   5.145   5.145      62      USD        -0.000971
...            ...     ...     ...     ...     ...      ...              ...
2021-12-27  22.885  23.180  22.885  23.047     198      USD         0.007387
2021-12-28  23.055  23.295  23.055  23.111     154      USD         0.002777
2021-12-29  23.005  23.005  22.635  22.848      39      USD        -0.011380
2021-12-30  22.865  23.160  22.690  23.124     499      USD         0.012080
2021-12-31  23.235  23.440  23.200  23.414     590      USD         0.012541

[5936 rows x 7 columns]

In [62]:
search_result = investpy.search_quotes(text='Copper', n_results=1)
print(search_result)

{"id_": 8831, "name": "Copper Futures", "symbol": "HG", "country": null, "tag": "/commodities/copper", "pair_type": "commodities", "exchange": "COMEX"}

In [81]:
# choose united states rather than united kindom
COPPER = investpy.get_commodity_historical_data(commodity='Copper', country='united states', from_date=start_date, to_date=end_date)
COPPER['Relative Change'] = (COPPER['Close'] - COPPER['Close'].shift()) / COPPER['Close'].shift()
COPPER

              Open    High     Low   Close  Volume Currency  Relative Change
Date
2000-01-04  0.8450  0.8460  0.8360  0.8380     407      USD              NaN
2000-01-05  0.8350  0.8480  0.8320  0.8480     254      USD         0.011933
2000-01-06  0.8400  0.8450  0.8400  0.8450     480      USD        -0.003538
2000-01-07  0.8430  0.8500  0.8430  0.8460     223      USD         0.001183
2000-01-10  0.8440  0.8440  0.8390  0.8400     240      USD        -0.007092
...            ...     ...     ...     ...     ...      ...              ...
2021-12-27  4.3755  4.4780  4.3350  4.4605    2917      USD         0.012599
2021-12-28  4.4120  4.4645  4.4115  4.4130    1295      USD        -0.010649
2021-12-29  4.4300  4.4395  4.3750  4.4030    4671      USD        -0.002266
2021-12-30  4.3905  4.4020  4.3655  4.3770    2085      USD        -0.005905
2021-12-31  4.3825  4.4635  4.3760  4.4535    5830      USD         0.017478

[5573 rows x 7 columns]

In [82]:
search_result = investpy.search_quotes(text='USD/AUD', n_results=1)
print(search_result)

{"id_": 5, "name": "Australian Dollar US Dollar", "symbol": "AUD/USD", "country": "australia", "tag": "/currencies/aud-usd", "pair_type": "currencies", "exchange": ""}

In [83]:
USD_AUD = investpy.get_currency_cross_historical_data(currency_cross='USD/AUD', from_date=start_date, to_date=end_date)
USD_AUD['Relative Change'] = (USD_AUD['Close'] - USD_AUD['Close'].shift()) / USD_AUD['Close'].shift()
USD_AUD

              Open    High     Low   Close Currency  Relative Change
Date
2000-01-04  1.5207  1.5239  1.5207  1.5239      AUD              NaN
2000-01-05  1.5214  1.5202  1.5214  1.5202      AUD        -0.002428
2000-01-06  1.5260  1.5280  1.5260  1.5280      AUD         0.005131
2000-01-07  1.5253  1.5262  1.5253  1.5262      AUD        -0.001178
2000-01-10  1.5232  1.5238  1.5232  1.5238      AUD        -0.001573
...            ...     ...     ...     ...      ...              ...
2021-12-27  1.3845  1.3878  1.3803  1.3810      AUD        -0.001951
2021-12-28  1.3822  1.3852  1.3765  1.3831      AUD         0.001521
2021-12-29  1.3833  1.3865  1.3750  1.3785      AUD        -0.003326
2021-12-30  1.3795  1.3807  1.3742  1.3789      AUD         0.000290
2021-12-31  1.3784  1.3806  1.3740  1.3770      AUD        -0.001378

[5729 rows x 6 columns]

In [84]:
USD_NZD = investpy.get_currency_cross_historical_data(currency_cross='USD/NZD', from_date=start_date, to_date=end_date)
USD_NZD['Relative Change'] = (USD_NZD['Close'] - USD_NZD['Close'].shift()) / USD_NZD['Close'].shift()
USD_NZD

              Open    High     Low   Close Currency  Relative Change
Date
2000-01-04  1.9198  1.9218  1.9198  1.9218      NZD              NaN
2000-01-05  1.9279  1.9255  1.9279  1.9255      NZD         0.001925
2000-01-06  1.9384  1.9433  1.9384  1.9433      NZD         0.009244
2000-01-07  1.9357  1.9337  1.9357  1.9337      NZD        -0.004940
2000-01-10  1.9335  1.9369  1.9335  1.9369      NZD         0.001655
...            ...     ...     ...     ...      ...              ...
2021-12-27  1.4642  1.4731  1.4625  1.4682      NZD         0.000886
2021-12-28  1.4692  1.4731  1.4641  1.4674      NZD        -0.000545
2021-12-29  1.4686  1.4732  1.4613  1.4633      NZD        -0.002794
2021-12-30  1.4640  1.4672  1.4581  1.4633      NZD         0.000000
2021-12-31  1.4641  1.4663  1.4592  1.4646      NZD         0.000888

[5729 rows x 6 columns]

In [85]:
USD_CHF = investpy.get_currency_cross_historical_data(currency_cross='USD/CHF', from_date=start_date, to_date=end_date)
USD_CHF['Relative Change'] = (USD_CHF['Close'] - USD_CHF['Close'].shift()) / USD_CHF['Close'].shift()
USD_CHF

              Open    High     Low   Close Currency  Relative Change
Date
2000-01-03  1.5940  1.5978  1.5615  1.5648      CHF              NaN
2000-01-04  1.5640  1.5702  1.5514  1.5554      CHF        -0.006007
2000-01-05  1.5570  1.5593  1.5420  1.5550      CHF        -0.000257
2000-01-06  1.5553  1.5610  1.5422  1.5536      CHF        -0.000900
2000-01-07  1.5510  1.5665  1.5484  1.5648      CHF         0.007209
...            ...     ...     ...     ...      ...              ...
2021-12-27  0.9190  0.9201  0.9172  0.9172      CHF        -0.002284
2021-12-28  0.9176  0.9191  0.9158  0.9174      CHF         0.000218
2021-12-29  0.9173  0.9202  0.9126  0.9146      CHF        -0.003052
2021-12-30  0.9147  0.9183  0.9132  0.9134      CHF        -0.001312
2021-12-31  0.9136  0.9149  0.9102  0.9122      CHF        -0.001314

[5738 rows x 6 columns]

In [86]:
USD_EUR = investpy.get_currency_cross_historical_data(currency_cross='USD/EUR', from_date=start_date, to_date=end_date)
USD_EUR['Relative Change'] = (USD_EUR['Close'] - USD_EUR['Close'].shift()) / USD_EUR['Close'].shift()
USD_EUR

              Open    High     Low   Close Currency  Relative Change
Date
2000-01-03  0.9940  0.9949  0.9723  0.9743      EUR              NaN
2000-01-04  0.9756  0.9793  0.9665  0.9700      EUR        -0.004413
2000-01-05  0.9711  0.9721  0.9607  0.9693      EUR        -0.000722
2000-01-06  0.9681  0.9738  0.9598  0.9688      EUR        -0.000516
2000-01-07  0.9683  0.9753  0.9671  0.9717      EUR         0.002993
...            ...     ...     ...     ...      ...              ...
2021-12-27  0.8835  0.8848  0.8822  0.8826      EUR        -0.000792
2021-12-28  0.8828  0.8858  0.8823  0.8839      EUR         0.001473
2021-12-29  0.8842  0.8871  0.8795  0.8809      EUR        -0.003394
2021-12-30  0.8810  0.8851  0.8802  0.8829      EUR         0.002270
2021-12-31  0.8832  0.8848  0.8782  0.8794      EUR        -0.003964

[5737 rows x 6 columns]

In [206]:
search_result = investpy.search_quotes(text='DXY', products=['indices'], n_results=1)
print(search_result)

{"id_": 942611, "name": "US Dollar Index", "symbol": "DXY", "country": "united states", "tag": "/indices/usdollar", "pair_type": "indices", "exchange": "NYSE"}

In [120]:
USDX = investpy.get_index_historical_data(index='US Dollar Index', country='united states', from_date=start_date, to_date=end_date)
USDX['Relative Change'] = (USDX['Close'] - USDX['Close'].shift()) / USDX['Close'].shift()
USDX

              Open    High     Low   Close  Volume Currency  Relative Change
Date
2000-01-03  101.67  101.83  100.19  100.22       0      USD              NaN
2000-01-04  100.55  100.86  100.01  100.41       0      USD         0.001896
2000-01-05  100.42  100.47   99.71  100.38       0      USD        -0.000299
2000-01-06  100.31  100.81   99.81  100.65       0      USD         0.002690
2000-01-07  100.49  100.93  100.44  100.80       0      USD         0.001490
...            ...     ...     ...     ...     ...      ...              ...
2021-12-27   96.15   96.26   96.05   96.09       0      USD         0.000729
2021-12-28   96.07   96.28   96.00   96.20       0      USD         0.001145
2021-12-29   96.15   96.39   95.76   95.93       0      USD        -0.002807
2021-12-30   95.89   96.22   95.86   95.97       0      USD         0.000417
2021-12-31   95.99   96.11   95.57   95.97       0      USD         0.000000

[5689 rows x 7 columns]

In [116]:
search_result = investpy.search_quotes(text='CAC 40 Futures', n_results=1)
print(search_result)

{"id_": 8853, "name": "CAC 40 Futures", "symbol": "F40", "country": "france", "tag": "/indices/france-40-futures", "pair_type": "indices", "exchange": "Euronext"}

In [131]:
FCHI_F = investpy.get_index_historical_data(index='CAC 40', country='france', from_date=start_date, to_date=end_date)
FCHI_F['Relative Change'] = (FCHI_F['Close'] - FCHI_F['Close'].shift()) / FCHI_F['Close'].shift()
FCHI_F

,Open,High,Low,Close,Volume,Currency,Relative Change
Date,,,,,,,
2000-01-03,6024.38,6102.12,5901.77,5917.37,19890184,EUR,NaN
2000-01-04,5922.23,5925.07,5657.20,5672.02,30354062,EUR,-0.041463
2000-01-05,5521.83,5589.50,5461.59,5479.70,29936202,EUR,-0.033907
2000-01-06,5485.93,5530.26,5388.85,5450.11,29744336,EUR,-0.005400
2000-01-07,5423.88,5561.69,5423.88,5539.61,38625352,EUR,0.016422
...,...,...,...,...,...,...,...
2021-12-27,7070.14,7149.14,7062.40,7140.39,34917800,EUR,0.007593
2021-12-28,7141.85,7187.76,7141.67,7181.11,36149600,EUR,0.005703
2021-12-29,7179.11,7201.65,7137.35,7161.52,37481200,EUR,-0.002728
2021-12-30,7167.53,7189.84,7156.79,7173.23,35427000,EUR,0.001635
2021-12-31,7153.66,7163.73,7139.60,7153.03,18788700,EUR,-0.002816

In [132]:
search_result = investpy.search_quotes(text='FTSE 100', n_results=1)
print(search_result)

{"id_": 27, "name": "FTSE 100", "symbol": "UK100", "country": "united kingdom", "tag": "/indices/uk-100", "pair_type": "indices", "exchange": "London"}

In [133]:
FTSE_F = investpy.get_index_historical_data(index='FTSE 100', country='united kingdom', from_date=start_date, to_date=end_date)
FTSE_F['Relative Change'] = (FTSE_F['Close'] - FTSE_F['Close'].shift()) / FTSE_F['Close'].shift()
FTSE_F

,Open,High,Low,Close,Volume,Currency,Relative Change
Date,,,,,,,
2001-01-03,6174.70,6174.70,6029.30,6039.90,0,GBP,NaN
2001-01-04,6039.90,6195.30,6039.90,6185.60,0,GBP,0.024123
2001-01-05,6185.60,6239.60,6155.00,6198.10,0,GBP,0.002021
2001-01-08,6198.10,6212.40,6137.70,6149.60,0,GBP,-0.007825
2001-01-09,6149.60,6195.90,6066.40,6088.10,0,GBP,-0.010001
...,...,...,...,...,...,...,...
2021-12-23,7341.66,7385.42,7331.05,7373.34,422352992,GBP,0.004315
2021-12-24,7373.34,7403.65,7368.83,7372.10,126006000,GBP,-0.000168
2021-12-29,7372.10,7457.14,7372.10,7420.69,445967008,GBP,0.006591
2021-12-30,7420.69,7433.39,7403.01,7403.01,266403008,GBP,-0.002383
2021-12-31,7403.01,7403.01,7357.10,7384.54,179344000,GBP,-0.002495

In [140]:
search_result = investpy.search_quotes(text='DAX', n_results=1)
print(search_result)

{"id_": 172, "name": "DAX", "symbol": "DE30", "country": "germany", "tag": "/indices/germany-30", "pair_type": "indices", "exchange": "Xetra"}

In [141]:
GDAXI_F = investpy.get_index_historical_data(index='DAX', country='germany', from_date=start_date, to_date=end_date)
GDAXI_F['Relative Change'] = (GDAXI_F['Close'] - GDAXI_F['Close'].shift()) / GDAXI_F['Close'].shift()
GDAXI_F

,Open,High,Low,Close,Volume,Currency,Relative Change
Date,,,,,,,
2001-01-03,6284.87,6467.82,6172.44,6434.96,0,EUR,NaN
2001-01-04,6443.87,6556.94,6356.92,6376.54,0,EUR,-0.009079
2001-01-05,6383.33,6485.34,6344.16,6382.31,0,EUR,0.000905
2001-01-08,6368.83,6426.64,6337.95,6392.17,0,EUR,0.001545
2001-01-09,6408.06,6462.50,6354.97,6404.52,0,EUR,0.001932
...,...,...,...,...,...,...,...
2021-12-23,15660.78,15768.45,15622.60,15756.31,43254000,EUR,0.010443
2021-12-27,15705.53,15854.62,15697.44,15835.25,28900000,EUR,0.005010
2021-12-28,15839.19,15974.79,15832.96,15963.70,34021000,EUR,0.008112
2021-12-29,15952.47,15955.03,15803.59,15852.25,34974000,EUR,-0.006981
2021-12-30,15837.56,15890.74,15834.57,15884.86,32457000,EUR,0.002057

In [143]:
search_result = investpy.search_quotes(text='Hang Seng index Futures', n_results=1)
print(search_result)

{"id_": 1171464, "name": "Hang Seng Tech Index Futures", "symbol": "HHTIc1", "country": "hong kong", "tag": "/indices/hang-seng-tech-index-futures", "pair_type": "indices", "exchange": "Hong Kong"}

In [150]:
HSI_F = investpy.get_index_historical_data(index='Hang Seng', country='hong kong', from_date=start_date, to_date=end_date)
HSI_F['Relative Change'] = (HSI_F['Close'] - HSI_F['Close'].shift()) / HSI_F['Close'].shift()
HSI_F

,Open,High,Low,Close,Volume,Currency,Relative Change
Date,,,,,,,
2000-12-05,14602.25,14701.98,14507.50,14573.21,0,HKD,NaN
2000-12-06,14914.54,15178.27,14914.54,15098.95,0,HKD,0.036076
2000-12-07,14982.92,15032.27,14839.38,15011.52,0,HKD,-0.005790
2000-12-08,15008.80,15281.81,14968.64,15189.33,0,HKD,0.011845
2000-12-11,15274.07,15438.89,15193.49,15408.54,0,HKD,0.014432
...,...,...,...,...,...,...,...
2021-12-24,23375.99,23383.19,23186.57,23223.76,622880000,HKD,0.001299
2021-12-28,23282.35,23319.44,23099.48,23280.56,1433030016,HKD,0.002446
2021-12-29,23253.98,23253.98,23008.28,23086.54,828409984,HKD,-0.008334
2021-12-30,23130.45,23248.26,22990.24,23112.01,1008369984,HKD,0.001103
2021-12-31,23553.79,23590.12,23394.77,23397.67,675939968,HKD,0.012360

In [167]:
search_result = investpy.search_quotes(text='Nikkei', n_results=1)
print(search_result)

{"id_": 178, "name": "Nikkei 225", "symbol": "JP225", "country": "japan", "tag": "/indices/japan-ni225", "pair_type": "indices", "exchange": "Tokyo"}

In [165]:
NIKKEI_F = investpy.get_index_historical_data(index='Nikkei 225', country='japan', from_date=start_date, to_date=end_date)
NIKKEI_F['Relative Change'] = (NIKKEI_F['Close'] - NIKKEI_F['Close'].shift()) / NIKKEI_F['Close'].shift()
NIKKEI_F

,Open,High,Low,Close,Volume,Currency,Relative Change
Date,,,,,,,
2001-01-05,13763.22,13947.06,13725.46,13867.61,0,JPY,NaN
2001-01-09,13732.85,13732.85,13460.82,13610.51,0,JPY,-0.018540
2001-01-10,13593.16,13593.16,13349.15,13432.65,0,JPY,-0.013068
2001-01-11,13433.09,13436.61,13123.81,13201.07,0,JPY,-0.017240
2001-01-12,13246.20,13451.95,13246.20,13347.74,0,JPY,0.011110
...,...,...,...,...,...,...,...
2021-12-24,28836.05,28870.13,28773.50,28782.59,359085088,JPY,-0.000548
2021-12-27,28786.33,28805.28,28658.82,28676.46,374872192,JPY,-0.003687
2021-12-28,28953.32,29121.01,28879.68,29069.16,470404096,JPY,0.013694
2021-12-29,28995.73,29106.28,28729.61,28906.88,447112192,JPY,-0.005583
2021-12-30,28794.24,28904.42,28579.49,28791.71,403887104,JPY,-0.003984

In [159]:
search_result = investpy.search_quotes(text='KOSPI', n_results=1)
print(search_result)

{"id_": 8987, "name": "KOSPI 200 Futures", "symbol": "KOR200c1", "country": "south korea", "tag": "/indices/korea-200-futures", "pair_type": "indices", "exchange": "KRX"}

In [162]:
KOSPI_F = investpy.get_index_historical_data(index='KOSPI 200', country='south korea', from_date=start_date, to_date=end_date)
KOSPI_F['Relative Change'] = (KOSPI_F['Close'] - KOSPI_F['Close'].shift()) / KOSPI_F['Close'].shift()
KOSPI_F

,Open,High,Low,Close,Volume,Currency,Relative Change
Date,,,,,,,
2000-12-26,64.11,64.19,63.04,63.35,141884992,KRW,NaN
2001-01-02,63.33,65.47,62.97,65.41,130589000,KRW,0.032518
2001-01-03,64.28,65.79,63.99,65.38,182698000,KRW,-0.000459
2001-01-04,69.19,71.37,69.19,70.14,265504992,KRW,0.072805
2001-01-05,70.32,73.23,69.74,73.15,352406016,KRW,0.042914
...,...,...,...,...,...,...,...
2021-12-24,399.72,402.46,399.66,400.53,102503000,KRW,0.005978
2021-12-27,400.61,401.07,398.31,398.61,103635000,KRW,-0.004794
2021-12-28,399.56,401.21,397.24,401.21,169712000,KRW,0.006523
2021-12-29,398.74,399.16,395.85,396.72,169048000,KRW,-0.011191
2021-12-30,397.13,398.59,393.89,394.19,103887000,KRW,-0.006377

In [170]:
search_result = investpy.search_quotes(text='IXIC', n_results=1)
print(search_result)

{"id_": 14958, "name": "NASDAQ Composite", "symbol": "IXIC", "country": "united states", "tag": "/indices/nasdaq-composite", "pair_type": "indices", "exchange": "NASDAQ"}

In [174]:
IXIC_F = investpy.get_index_historical_data(index='NASDAQ', country='united states', from_date=start_date, to_date=end_date)
IXIC_F['Relative Change'] = (IXIC_F['Close'] - IXIC_F['Close'].shift()) / IXIC_F['Close'].shift()
IXIC_F

,Open,High,Low,Close,Volume,Currency,Relative Change
Date,,,,,,,
2000-01-03,4186.19,4192.19,3989.71,4131.15,0,USD,NaN
2000-01-04,4020.00,4073.25,3898.23,3901.69,0,USD,-0.055544
2000-01-05,3854.35,3924.21,3734.87,3877.54,0,USD,-0.006190
2000-01-06,3834.44,3868.76,3715.62,3727.13,0,USD,-0.038790
2000-01-07,3711.09,3882.67,3711.09,3882.62,0,USD,0.041718
...,...,...,...,...,...,...,...
2021-12-27,15696.83,15871.40,15696.83,15871.26,741100032,USD,0.013920
2021-12-28,15895.20,15901.47,15757.07,15781.72,691470016,USD,-0.005642
2021-12-29,15794.92,15821.81,15679.85,15766.22,699590016,USD,-0.000982
2021-12-30,15758.98,15868.09,15729.16,15741.56,768179968,USD,-0.001564
2021-12-31,15722.91,15777.43,15643.93,15644.97,729409984,USD,-0.006136

In [175]:
search_result = investpy.search_quotes(text='DJI', n_results=1)
print(search_result)

{"id_": 169, "name": "Dow Jones Industrial Average", "symbol": "DJI", "country": "united states", "tag": "/indices/us-30", "pair_type": "indices", "exchange": "NYSE"}

In [179]:
DJI_F = investpy.search_quotes(text='S&P 500 Futures', n_results=1)
DJI_F

,Open,High,Low,Close,Volume,Currency,Relative Change
Date,,,,,,,
2000-01-03,11501.85,11522.01,11305.69,11357.51,169750896,USD,NaN
2000-01-04,11349.75,11350.06,10986.45,10997.94,178416496,USD,-0.031659
2000-01-05,10989.37,11215.10,10938.67,11122.66,203188400,USD,0.011340
2000-01-06,11113.37,11313.45,11098.45,11253.27,176549600,USD,0.011743
2000-01-07,11247.06,11528.14,11239.92,11522.56,184903104,USD,0.023930
...,...,...,...,...,...,...,...
2021-12-27,35954.48,36306.61,35954.48,36302.38,250260976,USD,0.009786
2021-12-28,36302.99,36527.26,36302.99,36398.21,239087792,USD,0.002640
2021-12-29,36421.14,36571.55,36396.19,36488.63,214403952,USD,0.002484
2021-12-30,36522.48,36679.44,36372.13,36398.08,207644672,USD,-0.002482
2021-12-31,36385.85,36484.94,36303.97,36338.30,218213120,USD,-0.001642

In [230]:
search_result = investpy.search_quotes(text='S&P 500 Futures', n_results=1)
print(search_result)

{"id_": 8839, "name": "S&P 500 Futures", "symbol": "ESc1", "country": "united states", "tag": "/indices/us-spx-500-futures", "pair_type": "indices", "exchange": "CME"}

In [233]:
SP_F = investpy.search.search_quotes(text='ESc1', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
SP_F

               Open     High      Low    Close  Volume  Change Pct
Date
2000-01-03  1489.00  1496.00  1452.25  1466.75   61938       -1.18
2000-01-04  1467.00  1468.75  1409.50  1411.75   64048       -3.75
2000-01-05  1411.50  1427.25  1385.00  1413.50   73121        0.12
2000-01-06  1411.00  1426.25  1395.75  1404.00   67883       -0.67
2000-01-07  1403.75  1461.50  1397.50  1460.50   60545        4.02
...             ...      ...      ...      ...     ...         ...
2021-12-27  4717.00  4784.25  4713.25  4782.25  898698        1.41
2021-12-28  4780.50  4798.00  4770.50  4778.50  954520       -0.08
2021-12-29  4781.00  4796.00  4770.00  4784.50  876030        0.13
2021-12-30  4784.75  4799.75  4767.25  4772.25  753935       -0.26
2021-12-31  4773.75  4778.50  4750.50  4758.50  954083       -0.29

[5650 rows x 6 columns]

In [235]:
search_result = investpy.search_quotes(text='Russell Futures', n_results=1)
print(search_result)

{"id_": 1174944, "name": "Russell 2000 Futures", "symbol": "US2000", "country": "united states", "tag": "/indices/smallcap-2000-futures?cid=1174944", "pair_type": "indices", "exchange": "US Indexes"}

In [225]:
RUSSELL_F = investpy.search.search_quotes(text='US2000', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
RUSSELL_F

               Open     High      Low    Close  Volume  Change Pct
Date
2001-01-03   462.49   484.39   459.28   484.39       0        4.74
2001-01-04   484.39   484.39   475.90   477.20       0       -1.48
2001-01-05   477.20   477.31   461.76   463.14       0       -2.95
2001-01-08   463.14   463.14   457.56   461.64       0       -0.32
2001-01-09   461.64   466.40   461.39   463.95       0        0.50
...             ...      ...      ...      ...     ...         ...
2021-12-27  2242.48  2261.89  2230.33  2261.46       0        0.89
2021-12-28  2261.04  2274.54  2245.57  2246.51       0       -0.66
2021-12-29  2246.35  2252.79  2236.65  2249.24       0        0.12
2021-12-30  2249.35  2271.82  2247.47  2248.79       0       -0.02
2021-12-31  2245.93  2258.11  2244.85  2245.31       0       -0.15

[5295 rows x 6 columns]

In [200]:
search_result = investpy.search_quotes(text='US dollar index Futures', products=['fxfutures'], n_results=1)
print(search_result)

{"id_": 8827, "name": "US Dollar Index Futures", "symbol": "DX", "country": "united states", "tag": "/currencies/us-dollar-index", "pair_type": "fxfutures", "exchange": "ICE"}

In [221]:
USDX_F = investpy.search.search_quotes(text='DX', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
USDX_F

               Open     High      Low    Close  Volume  Change Pct
Date
2000-01-03  101.390  101.570   99.850   99.890    2616       -1.62
2000-01-04  100.180  100.370   99.700  100.100     995        0.21
2000-01-05  100.090  100.160   99.400  100.050     889       -0.05
2000-01-06  100.050  100.480   99.600  100.340    1548        0.29
2000-01-07  100.180  100.700  100.160  100.500    2849        0.16
...             ...      ...      ...      ...     ...         ...
2021-12-27   96.095   96.245   96.035   96.086    9295        0.11
2021-12-28   96.060   96.270   95.985   96.203    9343        0.12
2021-12-29   96.135   96.395   95.735   95.926   16539       -0.29
2021-12-30   95.875   96.225   95.865   95.964   12396        0.04
2021-12-31   95.965   96.105   95.575   95.593   14998       -0.39

[5644 rows x 6 columns]