In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import pandas as pd
from fredapi import Fred

In [52]:
#paper 5

df_fred_md = pd.read_csv("https://files.stlouisfed.org/files/htdocs/fred-md/monthly/current.csv")
df_fred_md = df_fred_md.iloc[1:,:]

df_paper5_features = df_fred_md[["sasdate","AAA","AAAFFM","ACOGNO","AMDMNOx","AMDMUOx","ANDENOx","AWHMAN","AWOTMAN","BAA","BAAFFM","BUSINVx","BUSLOANS","CE16OV",
              "CES0600000007","CES0600000008","CES1021000001","CES2000000008","CES3000000008","CLAIMSx","CLF16OV","CMRMTSPLx","COMPAPFFx","CONSPI","CP3Mx","CPIAPPSL",
              "CPIAUCSL","CPIMEDSL","CPITRNSL","CPIULFSL","CUMFNS","CUSR0000SA0L2","CUSR0000SA0L5","CUSR0000SAC","CUSR0000SAD","CUSR0000SAS","DDURRG3M086SBEA","DMANEMP",
              "DNDGRG3M086SBEA","DPCERA3M086SBEA","DSERRG3M086SBEA","DTCOLNVHFNM","DTCTHFNM","EXCAUSx","EXJPUSx","EXSZUSx","EXUSUKx","FEDFUNDS","GS1","GS10","GS5","HOUST",
              "HOUSTMW","HOUSTNE","HOUSTS","HOUSTW","HWI","HWIURATIO","INDPRO","INVEST","IPB51222S","IPBUSEQ","IPCONGD","IPDCONGD","IPDMAT","IPFINAL","IPFPNSS","IPFUELS",
              "IPMANSICS","IPMAT","IPNCONGD","IPNMAT","ISRATIOx","M1SL","M2REAL","M2SL","MANEMP","NDMANEMP","NONBORRES","NONREVSL","OILPRICEx","PAYEMS","PCEPI","PERMIT",
              "PERMITMW","PERMITNE","PERMITS","PERMITW","PPICMM","REALLN","RETAILx","RPI","S&P 500","S&P div yield","S&P PE ratio","S&P: indust","SRVPRD","T10YFFM","T1YFFM",
              "T5YFFM","TB3MS","TB3SMFFM","TB6MS","TB6SMFFM","TOTRESNS","UEMP15OV","UEMP15T26","UEMP27OV","UEMP5TO14","UEMPLT5","UEMPMEAN","UMCSENTx","UNRATE","USCONS","USFIRE",
              "USGOOD","USGOVT","USTPU","USTRADE","USWTRADE","W875RX1"]]
df_paper5_features

,sasdate,AAA,AAAFFM,ACOGNO,AMDMNOx,AMDMUOx,ANDENOx,AWHMAN,AWOTMAN,BAA,...,UMCSENTx,UNRATE,USCONS,USFIRE,USGOOD,USGOVT,USTPU,USTRADE,USWTRADE,W875RX1
1,1/1/1959,4.12,1.64,NaN,14716.48296,4.262035e+04,NaN,40.2,2.5,4.87,...,NaN,6.0,2993.0,2418.0,18796.0,8105.0,10774.0,5350.3,2568.7,2293.2
2,2/1/1959,4.14,1.71,NaN,15400.24873,4.367715e+04,NaN,40.3,2.6,4.89,...,NaN,5.9,2980.0,2420.0,18890.0,8116.0,10816.0,5381.3,2575.4,2301.5
3,3/1/1959,4.13,1.33,NaN,15745.42348,4.478165e+04,NaN,40.4,2.8,4.85,...,NaN,5.6,3013.0,2430.0,19069.0,8132.0,10873.0,5431.6,2584.4,2318.5
4,4/1/1959,4.23,1.27,NaN,15919.42165,4.552275e+04,NaN,40.5,2.9,4.86,...,NaN,5.2,3085.0,2439.0,19269.0,8142.0,10905.0,5395.4,2596.9,2334.9
5,5/1/1959,4.37,1.47,NaN,15248.82330,4.538445e+04,NaN,40.7,2.9,4.96,...,95.3,5.1,3087.0,2447.0,19378.0,8153.0,10949.0,5456.3,2607.4,2350.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
756,12/1/2021,2.65,2.56,216259.0,273281.00000,1.271825e+06,93085.0,41.4,4.1,3.30,...,70.6,3.9,7546.0,8863.0,20691.0,22141.0,28163.0,15595.1,5749.7,14398.0
757,1/1/2022,2.93,2.85,218607.0,277490.00000,1.283035e+06,96367.0,41.2,4.2,3.58,...,67.2,4.0,7552.0,8865.0,20723.0,22153.0,28351.0,15716.5,5762.3,14378.0
758,2/1/2022,3.25,3.17,221659.0,272718.00000,1.289294e+06,90484.0,41.6,4.4,3.97,...,62.8,3.8,7609.0,8895.0,20825.0,22164.0,28550.0,15826.8,5781.9,14432.6
759,3/1/2022,3.43,3.23,NaN,275013.00000,1.294611e+06,90027.0,41.7,4.2,4.29,...,59.4,3.6,7628.0,8911.0,20885.0,22169.0,28604.0,15875.8,5788.9,14388.7
760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
start_date = '1959-01-01'
end_date = '2022-03-01'

# Fred API key: ab766afb0df13dba8492403a7865f852
fred = Fred(api_key = 'ab766afb0df13dba8492403a7865f852')

df5 = {}
df5['AMBSL'] = fred.get_series('AMBSL', observation_start=start_date, observation_end=end_date)
df5['MZMSL'] = fred.get_series('MZMSL', observation_start=start_date, observation_end=end_date)
df5['PPICRM'] = fred.get_series('PPICRM', observation_start=start_date, observation_end=end_date)
df5['PPIFCG'] = fred.get_series('PPIFCG', observation_start=start_date, observation_end=end_date)
df5['PPIFGS'] = fred.get_series('PPIFGS', observation_start=start_date, observation_end=end_date)
df5['PPIITM'] = fred.get_series('PPIITM', observation_start=start_date, observation_end=end_date)
df5['TWEXMMTH'] = fred.get_series('TWEXMMTH', observation_start=start_date, observation_end=end_date)
df5 = pd.DataFrame(df5)
df5

             AMBSL    MZMSL  PPICRM  PPIFCG  PPIFGS  PPIITM  TWEXMMTH
1959-01-01  38.756    274.9    31.6    33.4    33.1    30.6       NaN
1959-02-01  38.895    276.0    31.4    33.4    33.2    30.7       NaN
1959-03-01  38.896    277.4    31.5    33.3    33.2    30.7       NaN
1959-04-01  39.009    278.1    31.7    33.4    33.2    30.7       NaN
1959-05-01  39.089    280.1    31.5    33.3    33.3    30.9       NaN
...            ...      ...     ...     ...     ...     ...       ...
2020-09-01     NaN  21204.8     NaN     NaN     NaN     NaN       NaN
2020-10-01     NaN  21337.3     NaN     NaN     NaN     NaN       NaN
2020-11-01     NaN  21553.8     NaN     NaN     NaN     NaN       NaN
2020-12-01     NaN  21715.7     NaN     NaN     NaN     NaN       NaN
2021-01-01     NaN  21965.8     NaN     NaN     NaN     NaN       NaN

[745 rows x 7 columns]

In [ ]:
# 7 features not implemented yet for Paper 5

# NAPM
# NAPMEI
# NAPMII
# NAPMNOI
# NAPMPI
# NAPMPRI
# NAPMSDI