In [ ]:
import numpy as np 
import pandas as pd 
import yfinance as yf

In [ ]:
start_date="2000-01-01"
end_date="2020-12-31"

df = yf.download("WMT", start=start_date, end=end_date)
df

In [ ]:
#Calculate features

#1 Day
df['Date'] = df.index
df['Day'] = df['Date'].dt.dayofweek

#2 Close

#3 VOL
df['VOL']=df['Volume'].pct_change()

#4 MOM-1
df['Adj Close_l1'] = df['Adj Close'].shift(1)
df['MOM1']=df['Adj Close_l1'].pct_change()

#5 MOM-2
df['Adj Close_l2'] = df['Adj Close'].shift(2)
df['MOM2']=df['Adj Close_l2'].pct_change()

#6 MOM-3
df['Adj Close_l2'] = df['Adj Close'].shift(2)
df['MOM3']=df['Adj Close_l2'].pct_change()

#7 ROC-5
df['Adj Close_l5'] = df['Adj Close'].shift(5)
df['ROC5']=(df['Adj Close']-df['Adj Close_l5'])/df['Adj Close_l5']

#8 ROC-10
df['Adj Close_l10'] = df['Adj Close'].shift(10)
df['ROC10']=(df['Adj Close']-df['Adj Close_l10'])/df['Adj Close_l10']

#9 ROC-15
df['Adj Close_l15'] = df['Adj Close'].shift(15)
df['ROC15']=(df['Adj Close']-df['Adj Close_l15'])/df['Adj Close_l15']

#10 ROC-20
df['Adj Close_l20'] = df['Adj Close'].shift(20)
df['ROC20']=(df['Adj Close']-df['Adj Close_l20'])/df['Adj Close_l20']

#11 EMA-10
def calculate_ema(prices, days, smoothing=2):
    ema = []
    for num_day in range(days-1):
        ema.append('N/A')        
    ema.append(sum(prices[:days]) / days)
    for price in prices[days:]:
        ema.append((price * (smoothing / (1 + days))) + ema[-1] * (1 - (smoothing / (1 + days))))
    return ema
df['EMA10']=calculate_ema(df['Adj Close'], 10)

#12 EMA-20
df['EMA20']=calculate_ema(df['Adj Close'], 20)

#13 EMA-50
df['EMA50']=calculate_ema(df['Adj Close'], 50)

#14 EMA-200
df['EMA200']=calculate_ema(df['Adj Close'], 200)

#45 IXIC
df_IXIC = yf.download("^IXIC", start=start_date, end=end_date)
df['IXIC']=df['Adj Close'].pct_change()

#46 GSPC
df_GSPC = yf.download("^GSPC", start=start_date, end=end_date)
df['GSPC']=df_GSPC['Adj Close'].pct_change()

#47 DJI
df_DJI = yf.download("DJI", start=start_date, end=end_date)
df['DJI']=df_DJI['Adj Close'].pct_change()

#48 NYSE
df_NYSE = yf.download("^NYA", start=start_date, end=end_date)
df['NYSE']=df_NYSE['Adj Close'].pct_change()

#49 RUSSELL
df_RUSSELL = yf.download("^RUT", start=start_date, end=end_date)
df['RUSSELL']=df_DJI['Adj Close'].pct_change()

#50 HSI
df_HSI = yf.download("HSI", start=start_date, end=end_date)
df['HSI']=df_HSI['Adj Close'].pct_change()

#51 SSE
df_SSE = yf.download("000001.SS", start=start_date, end=end_date)
df['SSE']=df_SSE['Adj Close'].pct_change()

#52 FCHI
df_FCHI = yf.download("^FCHI", start=start_date, end=end_date)
df['FCHI']=df_FCHI['Adj Close'].pct_change()

#53 FTSE
df_FTSE = yf.download("^FTSE", start=start_date, end=end_date)
df['FTSE']=df_FTSE['Adj Close'].pct_change()

#54 GDAXI
df_GDAXI = yf.download("^GDAXI", start=start_date, end=end_date)
df['GDAXI']=df_GDAXI['Adj Close'].pct_change()

#55 USD-Y
df_USDY = yf.download("JPY=X", start=start_date, end=end_date)
df['USDY']=df_USDY['Adj Close'].pct_change()

#56 USD-GBP
df_USDGBP = yf.download("GBP=X", start=start_date, end=end_date)
df['USDGBP']=df_USDGBP['Adj Close'].pct_change()

#57 USD-CAD
df_USDCAD = yf.download("CAD=X", start=start_date, end=end_date)
df['USDCAD']=df_USDCAD['Adj Close'].pct_change()

#58 USD-CNY
df_USDCNY = yf.download("CNY=X", start=start_date, end=end_date)
df['USDCNY']=df_USDCNY['Adj Close'].pct_change()

#64 XOM
df_XOM = yf.download("XOM", start=start_date, end=end_date)
df['XOM']=df_XOM['Adj Close'].pct_change()

#65 JPM
df_JPM = yf.download("JPM", start=start_date, end=end_date)
df['JPM']=df_JPM['Adj Close'].pct_change()

#66 AAPL
df_AAPL = yf.download("AAPL", start=start_date, end=end_date)
df['AAPL']=df_AAPL['Adj Close'].pct_change()

#67 MSFT
df_MSFT = yf.download("MSFT", start=start_date, end=end_date)
df['MSFT']=df_MSFT['Adj Close'].pct_change()

#68 GE
df_GE = yf.download("GE", start=start_date, end=end_date)
df['GE']=df_GE['Adj Close'].pct_change()

#69 JNJ
df_JNJ = yf.download("JNJ", start=start_date, end=end_date)
df['JNJ']=df_JNJ['Adj Close'].pct_change()

#70 WFC
df_WFC = yf.download("WFC", start=start_date, end=end_date)
df['WFC']=df_WFC['Adj Close'].pct_change()

#71 AMZN
df_AMZN = yf.download("AMZN", start=start_date, end=end_date)
df['AMZN']=df_AMZN['Adj Close'].pct_change()

# Investing.com

In [284]:
import investpy

In [285]:
start_date = "01/01/2000"
end_date = "31/12/2020"

In [286]:
#indices: stocks, funds, ETFs, currency crosses, certificates, bonds, commodities, indices, and cryptos
search_result = investpy.search_quotes(text='Brent', products=['commodities'], n_results=1)
print(search_result)

{"id_": 8833, "name": "Brent Oil Futures", "symbol": "LCO", "country": null, "tag": "/commodities/brent-oil", "pair_type": "commodities", "exchange": "ICE"}

In [287]:
OIL_BRENT = investpy.search.search_quotes(text='LCO', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
OIL_BRENT

             Open   High    Low  Close  Volume  Change Pct
Date
2000-01-04  23.90  24.70  23.89  24.39   32509       -2.75
2000-01-05  24.25  24.37  23.70  23.73   30310       -2.71
2000-01-06  23.55  24.22  23.35  23.62   44662       -0.46
2000-01-07  23.57  23.98  23.05  23.09   34826       -2.24
2000-01-10  23.04  23.78  23.04  23.73   26388        2.77
...           ...    ...    ...    ...     ...         ...
2020-12-24  51.11  51.77  50.62  51.29   96688        0.18
2020-12-28  51.25  52.02  50.53  50.86   81059       -0.84
2020-12-29  51.02  51.63  50.86  51.09   91332        0.45
2020-12-30  51.32  51.56  51.04  51.34   17631        0.49
2020-12-31  51.49  51.84  50.90  51.80  133224        0.90

[5389 rows x 6 columns]

In [288]:
search_result = investpy.search_quotes(text='WTI', products=['commodities'], n_results=1)
print(search_result)

{"id_": 8849, "name": "Crude Oil WTI Futures", "symbol": "T", "country": null, "tag": "/commodities/crude-oil", "pair_type": "commodities", "exchange": "ICE"}

In [289]:
OIL_WTI = investpy.get_commodity_historical_data(commodity='Crude Oil WTI', from_date=start_date, to_date=end_date)
OIL_WTI['Relative Change'] = (OIL_WTI['Close'] - OIL_WTI['Close'].shift()) / OIL_WTI['Close'].shift()
OIL_WTI

             Open   High    Low  Close  Volume Currency  Relative Change
Date
2000-01-04  25.20  25.69  24.71  25.55   74788      USD              NaN
2000-01-05  25.50  25.61  24.87  24.91   70944      USD        -0.025049
2000-01-06  24.80  25.34  24.51  24.78   85252      USD        -0.005219
2000-01-07  24.65  25.00  24.15  24.22   91828      USD        -0.022599
2000-01-10  24.22  24.75  24.02  24.67   68901      USD         0.018580
...           ...    ...    ...    ...     ...      ...              ...
2020-12-24  48.09  48.62  47.56  48.23  167390      USD         0.002286
2020-12-28  48.23  48.96  47.50  47.62  238462      USD        -0.012648
2020-12-29  47.72  48.35  47.68  48.00  213778      USD         0.007980
2020-12-30  48.13  48.66  47.61  48.40  266957      USD         0.008333
2020-12-31  48.35  48.58  47.77  48.52  181894      USD         0.002479

[5359 rows x 7 columns]

In [290]:
search_result = investpy.search_quotes(text='gold', products=['commodities'], n_results=1)
print(search_result)

{"id_": 8830, "name": "Gold Futures", "symbol": "ZG", "country": null, "tag": "/commodities/gold", "pair_type": "commodities", "exchange": "ICE"}

In [291]:
Gold_F = investpy.search.search_quotes(text='ZG', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
Gold_F

              Open    High     Low   Close  Volume  Change Pct
Date
2000-01-04   281.0   281.0   281.0   282.7       4       -2.01
2000-01-05   283.2   283.2   283.2   281.1      16       -0.57
2000-01-06   281.4   281.4   281.4   281.4       0        0.11
2000-01-07   281.9   281.9   281.9   281.9       0        0.18
2000-01-10   281.7   281.7   281.7   281.7       0       -0.07
...            ...     ...     ...     ...     ...         ...
2020-12-24  1888.9  1897.0  1886.9  1905.4       9        0.31
2020-12-28  1906.1  1906.1  1906.1  1903.0       1       -0.13
2020-12-29  1893.2  1900.3  1890.5  1906.1      26        0.16
2020-12-30  1913.9  1913.9  1913.9  1917.4       4        0.59
2020-12-31  1919.9  1919.9  1919.9  1919.6       2        0.11

[5362 rows x 6 columns]

In [292]:
search_result = investpy.search_quotes(text='XAU/USD', n_results=1)
print(search_result)

{"id_": 68, "name": "Gold Spot US Dollar", "symbol": "XAU/USD", "country": "gold", "tag": "/currencies/xau-usd", "pair_type": "currencies", "exchange": ""}

In [293]:
XAU_USD = investpy.get_currency_cross_historical_data(currency_cross='XAU/USD', from_date=start_date, to_date=end_date)
XAU_USD['Relative Change'] = (XAU_USD['Close'] - XAU_USD['Close'].shift()) / XAU_USD['Close'].shift()
XAU_USD

               Open     High      Low    Close Currency  Relative Change
Date
2000-01-03   288.50   289.00   289.00   289.00      USD              NaN
2000-01-04   288.75   282.45   282.45   282.45      USD        -0.022664
2000-01-05   281.50   281.00   281.00   281.00      USD        -0.005134
2000-01-06   280.12   281.23   281.23   281.23      USD         0.000819
2000-01-07   281.15   281.75   281.75   281.75      USD         0.001849
...             ...      ...      ...      ...      ...              ...
2020-12-25  1877.07  1877.07  1877.07  1875.82      USD        -0.000394
2020-12-28  1885.93  1900.53  1869.21  1871.19      USD        -0.002468
2020-12-29  1872.24  1886.91  1870.99  1877.99      USD         0.003634
2020-12-30  1878.34  1894.06  1875.66  1893.37      USD         0.008190
2020-12-31  1893.55  1901.26  1884.77  1896.49      USD         0.001648

[5468 rows x 6 columns]

In [294]:
XAG_USD = investpy.get_currency_cross_historical_data(currency_cross='XAG/USD', from_date=start_date, to_date=end_date)
XAG_USD['Relative Change'] = (XAG_USD['Close'] - XAG_USD['Close'].shift()) / XAG_USD['Close'].shift()
XAG_USD

              Open    High     Low   Close Currency  Relative Change
Date
2000-01-03   5.400   5.360   5.340   5.360      USD              NaN
2000-01-04   5.390   5.350   5.330   5.350      USD        -0.001866
2000-01-05   5.320   5.170   5.150   5.170      USD        -0.033645
2000-01-06   5.130   5.120   5.110   5.120      USD        -0.009671
2000-01-07   5.100   5.160   5.150   5.160      USD         0.007813
...            ...     ...     ...     ...      ...              ...
2020-12-25  25.825  25.875  25.825  25.850      USD         0.000387
2020-12-28  26.090  26.775  25.944  26.160      USD         0.011992
2020-12-29  26.205  26.620  25.950  26.179      USD         0.000726
2020-12-30  26.210  26.646  26.135  26.610      USD         0.016464
2020-12-31  26.640  26.715  26.210  26.358      USD        -0.009470

[5471 rows x 6 columns]

In [295]:
search_result = investpy.search_quotes(text='gas', n_results=1)
print(search_result)

{"id_": 8862, "name": "Natural Gas Futures", "symbol": "NG", "country": null, "tag": "/commodities/natural-gas", "pair_type": "commodities", "exchange": "NYMEX"}

In [296]:
GAS = investpy.search.search_quotes(text='NG', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
GAS

             Open   High    Low  Close  Volume  Change Pct
Date
2000-01-04  2.130  2.200  2.130  2.176   30152       -6.57
2000-01-05  2.180  2.200  2.125  2.168   27946       -0.37
2000-01-06  2.165  2.220  2.135  2.196   29071        1.29
2000-01-07  2.195  2.230  2.155  2.173   28455       -1.05
2000-01-10  2.180  2.255  2.165  2.216   28916        1.98
...           ...    ...    ...    ...     ...         ...
2020-12-24  2.611  2.632  2.515  2.518   39990       -3.45
2020-12-28  2.311  2.343  2.238  2.305   49279       -8.46
2020-12-29  2.340  2.489  2.282  2.467    3270        7.03
2020-12-30  2.444  2.473  2.387  2.422   81788       -1.82
2020-12-31  2.433  2.547  2.429  2.539  111108        4.83

[5357 rows x 6 columns]

In [297]:
search_result = investpy.search_quotes(text='silver', n_results=1)
print(search_result)

{"id_": 8836, "name": "Silver Futures", "symbol": "ZI", "country": null, "tag": "/commodities/silver", "pair_type": "commodities", "exchange": "ICE"}

In [298]:
SILVER = investpy.search.search_quotes(text='ZI', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
SILVER

              Open    High     Low   Close  Volume  Change Pct
Date
2000-01-04   5.290   5.290   5.290   5.335       3       -1.44
2000-01-05   5.170   5.170   5.170   5.170       0       -3.09
2000-01-06   5.127   5.127   5.127   5.127       0       -0.83
2000-01-07   5.150   5.150   5.150   5.150      50        0.45
2000-01-10   5.145   5.145   5.145   5.145      62       -0.10
...            ...     ...     ...     ...     ...         ...
2020-12-27  25.910  26.305  25.910  26.295       0        0.87
2020-12-28  26.500  26.925  26.500  26.948     141        2.48
2020-12-29  26.375  26.715  26.300  26.388     164       -2.08
2020-12-30  26.550  26.815  26.550  26.753     268        1.38
2020-12-31  26.825  26.880  26.575  26.844     273        0.34

[5625 rows x 6 columns]

In [299]:
search_result = investpy.search_quotes(text='Copper Futures', n_results=5)
for i in search_result:
    #print(search_result)
    print(i)

{"id_": 8831, "name": "Copper Futures", "symbol": "HG", "country": null, "tag": "/commodities/copper", "pair_type": "commodities", "exchange": "COMEX"}
{"id_": 959211, "name": "Copper Futures", "symbol": "MCU", "country": null, "tag": "/commodities/copper?cid=959211", "pair_type": "commodities", "exchange": ""}
{"id_": 49771, "name": "Copper Futures", "symbol": "MCCc1", "country": null, "tag": "/commodities/copper?cid=49771", "pair_type": "commodities", "exchange": "MCX"}
{"id_": 1181051, "name": "Copper Futures", "symbol": "MCCc2", "country": null, "tag": "/commodities/copper?cid=1181051", "pair_type": "commodities", "exchange": "MCX"}
{"id_": 1116454, "name": "JKO Dow Jones Copper ER Futures ETF", "symbol": "00763U", "country": "taiwan", "tag": "/etfs/paradigm-dowjones-copper-er-futures", "pair_type": "etfs", "exchange": "Taiwan"}

In [300]:
# choose united states rather than united kindom
COPPER = investpy.search.search_quotes(text='HG', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
COPPER

              Open    High     Low   Close  Volume  Change Pct
Date
2000-01-04  0.8450  0.8460  0.8360  0.8380     407       -1.76
2000-01-05  0.8350  0.8480  0.8320  0.8480     254        1.19
2000-01-06  0.8400  0.8450  0.8400  0.8450     480       -0.35
2000-01-07  0.8430  0.8500  0.8430  0.8460     223        0.12
2000-01-10  0.8440  0.8440  0.8390  0.8400     240       -0.71
...            ...     ...     ...     ...     ...         ...
2020-12-24  3.5520  3.5655  3.5520  3.5615      66        0.14
2020-12-28  3.5860  3.6170  3.5810  3.5685     573        0.20
2020-12-29  3.5675  3.5690  3.5640  3.5520      23       -0.46
2020-12-30  3.5495  3.5755  3.5495  3.5485     228       -0.10
2020-12-31  3.5340  3.5340  3.5245  3.5200      37       -0.80

[5309 rows x 6 columns]

In [301]:
search_result = investpy.search_quotes(text='USD/AUD', n_results=1)
print(search_result)

{"id_": 5, "name": "Australian Dollar US Dollar", "symbol": "AUD/USD", "country": "australia", "tag": "/currencies/aud-usd", "pair_type": "currencies", "exchange": ""}

In [302]:
USD_AUD = investpy.get_currency_cross_historical_data(currency_cross='USD/AUD', from_date=start_date, to_date=end_date)
USD_AUD['Relative Change'] = (USD_AUD['Close'] - USD_AUD['Close'].shift()) / USD_AUD['Close'].shift()
USD_AUD

              Open    High     Low   Close Currency  Relative Change
Date
2000-01-04  1.5207  1.5239  1.5207  1.5239      AUD              NaN
2000-01-05  1.5214  1.5202  1.5214  1.5202      AUD        -0.002428
2000-01-06  1.5260  1.5280  1.5260  1.5280      AUD         0.005131
2000-01-07  1.5253  1.5262  1.5253  1.5262      AUD        -0.001178
2000-01-10  1.5232  1.5238  1.5232  1.5238      AUD        -0.001573
...            ...     ...     ...     ...      ...              ...
2020-12-25  1.3163  1.3202  1.3133  1.3158      AUD        -0.000684
2020-12-28  1.3187  1.3233  1.3117  1.3193      AUD         0.002660
2020-12-29  1.3196  1.3197  1.3115  1.3146      AUD        -0.003562
2020-12-30  1.3147  1.3155  1.3009  1.3009      AUD        -0.010421
2020-12-31  1.3010  1.3024  1.2915  1.2994      AUD        -0.001153

[5468 rows x 6 columns]

In [303]:
USD_NZD = investpy.get_currency_cross_historical_data(currency_cross='USD/NZD', from_date=start_date, to_date=end_date)
USD_NZD['Relative Change'] = (USD_NZD['Close'] - USD_NZD['Close'].shift()) / USD_NZD['Close'].shift()
USD_NZD

              Open    High     Low   Close Currency  Relative Change
Date
2000-01-04  1.9198  1.9218  1.9198  1.9218      NZD              NaN
2000-01-05  1.9279  1.9255  1.9279  1.9255      NZD         0.001925
2000-01-06  1.9384  1.9433  1.9384  1.9433      NZD         0.009244
2000-01-07  1.9357  1.9337  1.9357  1.9337      NZD        -0.004940
2000-01-10  1.9335  1.9369  1.9335  1.9369      NZD         0.001655
...            ...     ...     ...     ...      ...              ...
2020-12-25  1.4077  1.4120  1.4035  1.4037      NZD        -0.002700
2020-12-28  1.4073  1.4117  1.4006  1.4081      NZD         0.003135
2020-12-29  1.4100  1.4100  1.3956  1.3984      NZD        -0.006889
2020-12-30  1.3988  1.4000  1.3865  1.3873      NZD        -0.007938
2020-12-31  1.3881  1.3925  1.3808  1.3914      NZD         0.002955

[5468 rows x 6 columns]

In [304]:
USD_CHF = investpy.get_currency_cross_historical_data(currency_cross='USD/CHF', from_date=start_date, to_date=end_date)
USD_CHF['Relative Change'] = (USD_CHF['Close'] - USD_CHF['Close'].shift()) / USD_CHF['Close'].shift()
USD_CHF

              Open    High     Low   Close Currency  Relative Change
Date
2000-01-03  1.5940  1.5978  1.5615  1.5648      CHF              NaN
2000-01-04  1.5640  1.5702  1.5514  1.5554      CHF        -0.006007
2000-01-05  1.5570  1.5593  1.5420  1.5550      CHF        -0.000257
2000-01-06  1.5553  1.5610  1.5422  1.5536      CHF        -0.000900
2000-01-07  1.5510  1.5665  1.5484  1.5648      CHF         0.007209
...            ...     ...     ...     ...      ...              ...
2020-12-25  0.8908  0.8915  0.8888  0.8889      CHF        -0.001909
2020-12-28  0.8894  0.8920  0.8874  0.8884      CHF        -0.000562
2020-12-29  0.8893  0.8900  0.8829  0.8843      CHF        -0.004615
2020-12-30  0.8841  0.8856  0.8810  0.8810      CHF        -0.003732
2020-12-31  0.8812  0.8860  0.8792  0.8851      CHF         0.004654

[5477 rows x 6 columns]

In [305]:
USD_EUR = investpy.get_currency_cross_historical_data(currency_cross='USD/EUR', from_date=start_date, to_date=end_date)
USD_EUR['Relative Change'] = (USD_EUR['Close'] - USD_EUR['Close'].shift()) / USD_EUR['Close'].shift()
USD_EUR

              Open    High     Low   Close Currency  Relative Change
Date
2000-01-03  0.9940  0.9949  0.9723  0.9743      EUR              NaN
2000-01-04  0.9756  0.9793  0.9665  0.9700      EUR        -0.004413
2000-01-05  0.9711  0.9721  0.9607  0.9693      EUR        -0.000722
2000-01-06  0.9681  0.9738  0.9598  0.9688      EUR        -0.000516
2000-01-07  0.9683  0.9753  0.9671  0.9717      EUR         0.002993
...            ...     ...     ...     ...      ...              ...
2020-12-25  0.8206  0.8220  0.8188  0.8191      EUR        -0.001706
2020-12-28  0.8195  0.8210  0.8163  0.8184      EUR        -0.000855
2020-12-29  0.8185  0.8192  0.8146  0.8163      EUR        -0.002566
2020-12-30  0.8164  0.8166  0.8123  0.8131      EUR        -0.003920
2020-12-31  0.8131  0.8191  0.8123  0.8185      EUR         0.006641

[5476 rows x 6 columns]

In [306]:
search_result = investpy.search_quotes(text='US Dollar Index', products=['indices'], n_results=1)
print(search_result)

{"id_": 942611, "name": "US Dollar Index", "symbol": "DXY", "country": "united states", "tag": "/indices/usdollar", "pair_type": "indices", "exchange": "NYSE"}

In [307]:
USDX = investpy.search.search_quotes(text='DXY', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
USDX

              Open    High     Low   Close  Volume  Change Pct
Date
2000-01-03  101.67  101.83  100.19  100.22       0       -1.62
2000-01-04  100.55  100.86  100.01  100.41       0        0.19
2000-01-05  100.42  100.47   99.71  100.38       0       -0.03
2000-01-06  100.31  100.81   99.81  100.65       0        0.27
2000-01-07  100.49  100.93  100.44  100.80       0        0.15
...            ...     ...     ...     ...     ...         ...
2020-12-25   90.33   90.42   90.22   90.32       0        0.00
2020-12-28   90.22   90.38   89.98   90.34       0        0.02
2020-12-29   90.21   90.23   89.85   89.99       0       -0.39
2020-12-30   89.98   89.98   89.56   89.68       0       -0.34
2020-12-31   89.61   89.98   89.52   89.94       0        0.29

[5429 rows x 6 columns]

In [308]:
search_result = investpy.search_quotes(text='CAC 40 Futures', n_results=1)
print(search_result)

{"id_": 8853, "name": "CAC 40 Futures", "symbol": "F40", "country": "france", "tag": "/indices/france-40-futures", "pair_type": "indices", "exchange": "Euronext"}

In [309]:
FCHI_F = investpy.search.search_quotes(text='F40', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
FCHI_F

              Open    High     Low   Close  Volume  Change Pct
Date
2000-01-03  6030.0  6116.5  5877.0  5910.0   38014       -0.93
2000-01-04  5925.0  5949.0  5595.0  5688.0   70095       -3.76
2000-01-05  5575.0  5602.0  5481.0  5485.0   77249       -3.57
2000-01-06  5504.0  5539.5  5403.0  5476.0   58855       -0.16
2000-01-07  5467.0  5604.0  5420.0  5566.0   59947        1.64
...            ...     ...     ...     ...     ...         ...
2020-12-24  5544.5  5548.5  5507.5  5513.0    8977       -0.06
2020-12-28  5549.5  5591.5  5538.5  5579.0   36676        1.20
2020-12-29  5603.0  5617.5  5573.5  5602.5   45573        0.42
2020-12-30  5591.5  5617.0  5559.5  5590.0   31391       -0.22
2020-12-31  5564.5  5589.5  5541.5  5542.0   17297       -0.86

[5390 rows x 6 columns]

In [310]:
search_result = investpy.search_quotes(text='FTSE 100 Futures', n_results=1)
print(search_result)

{"id_": 8838, "name": "FTSE 100 Futures", "symbol": "UK100", "country": "united kingdom", "tag": "/indices/uk-100-futures", "pair_type": "indices", "exchange": "LIFFE"}

In [311]:
FTSE_F = investpy.search.search_quotes(text='FTSE 100 Futures', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
FTSE_F

              Open    High     Low   Close  Volume  Change Pct
Date
2007-02-09  6365.0  6380.0  6357.5  6366.5   53727        0.51
2007-02-12  6345.0  6359.0  6326.5  6337.0   57503       -0.46
2007-02-13  6356.0  6375.0  6325.0  6358.5   54055        0.34
2007-02-14  6381.5  6406.0  6361.0  6399.5   70478        0.64
2007-02-15  6406.0  6421.5  6378.5  6419.5   68912        0.31
...            ...     ...     ...     ...     ...         ...
2020-12-23  6382.0  6476.0  6364.0  6445.5   75758        0.62
2020-12-24  6446.5  6488.5  6427.5  6454.5   29940        0.14
2020-12-29  6518.0  6630.0  6508.0  6560.0   95010        1.63
2020-12-30  6541.5  6574.5  6456.5  6506.5   86808       -0.82
2020-12-31  6471.5  6474.0  6380.5  6420.0   47734       -1.33

[3578 rows x 6 columns]

In [312]:
search_result = investpy.search_quotes(text='DAX Futures', n_results=1)
print(search_result)

{"id_": 8826, "name": "DAX Futures", "symbol": "DE30", "country": "germany", "tag": "/indices/germany-30-futures", "pair_type": "indices", "exchange": "Eurex"}

In [313]:
GDAXI_F = investpy.search.search_quotes(text='DAX Futures', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
GDAXI_F

               Open     High      Low    Close  Volume  Change Pct
Date
2009-03-06   3713.5   3772.0   3621.0   3656.0  214305       -1.31
2009-03-09   3674.0   3709.0   3588.5   3696.0  193277        1.09
2009-03-10   3681.5   3908.0   3667.0   3885.5  198507        5.13
2009-03-11   3865.5   3995.0   3828.0   3911.5  196011        0.67
2009-03-12   3874.5   4012.0   3801.0   3952.5  201983        1.05
...             ...      ...      ...      ...     ...         ...
2020-12-22  13400.0  13428.0  13218.0  13408.0   38604        1.28
2020-12-23  13412.0  13609.0  13320.0  13584.0   30660        1.31
2020-12-28  13626.0  13815.0  13602.0  13785.0   27399        1.48
2020-12-29  13795.0  13896.0  13679.0  13763.0   37099       -0.16
2020-12-30  13684.0  13788.0  13648.0  13746.0   25782       -0.12

[3050 rows x 6 columns]

In [314]:
search_result = investpy.search_quotes(text='Hang Seng Futures', n_results=1)
print(search_result)

{"id_": 8984, "name": "Hang Seng Futures", "symbol": "HK50", "country": "hong kong", "tag": "/indices/hong-kong-40-futures", "pair_type": "indices", "exchange": "HKEx"}

In [315]:
HSI_F = investpy.search.search_quotes(text='HK50', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
HSI_F

               Open     High      Low    Close  Volume  Change Pct
Date
2009-11-19  22752.5  22853.5  22537.5  22537.5       0       -0.94
2009-11-20  22543.5  22599.5  22357.5  22408.5       0       -0.57
2009-11-22  22422.5  22422.5  22422.5  22422.5       0        0.06
2009-11-23  22514.5  22805.5  22486.5  22772.5       0        1.56
2009-11-24  22785.5  22819.5  22263.5  22476.5       0       -1.30
...             ...      ...      ...      ...     ...         ...
2020-12-24  26324.0  26471.0  26245.0  26410.0   77516        0.32
2020-12-28  26401.0  26545.0  26197.0  26363.0  141257       -0.18
2020-12-29  26355.0  26623.0  26355.0  26595.0   91177        0.88
2020-12-30  26586.0  26966.0  26583.0  26943.0   15835        1.31
2020-12-31  27256.0  27396.0  27176.0  27219.0   73156        1.02

[2811 rows x 6 columns]

In [316]:
search_result = investpy.search_quotes(text='Nikkei 225 Futures', n_results=1)
print(search_result)

{"id_": 8859, "name": "Nikkei 225 Futures", "symbol": "JP225", "country": "japan", "tag": "/indices/japan-225-futures", "pair_type": "indices", "exchange": "OSE"}

In [317]:
NIKKEI_F = investpy.search.search_quotes(text='Nikkei 225 Futures', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
NIKKEI_F

               Open     High      Low    Close  Volume  Change Pct
Date
2009-03-04   7200.0   7320.0   7090.0   7270.0   79491        0.83
2009-03-05   7310.0   7540.0   7290.0   7410.0  114638        1.93
2009-03-06   7400.0   7440.0   7150.0   7170.0   91240       -3.24
2009-03-09   7180.0   7230.0   7020.0   7050.0   74473       -1.67
2009-03-10   7050.0   7110.0   6960.0   7040.0   85372       -0.14
...             ...      ...      ...      ...     ...         ...
2020-12-25  26640.0  26650.0  26580.0  26650.0    9158        0.00
2020-12-28  26640.0  26810.0  26610.0  26780.0   22416        0.49
2020-12-29  26810.0  27590.0  26770.0  27570.0   60479        2.95
2020-12-30  27530.0  27690.0  27320.0  27440.0   57936       -0.47
2020-12-31  27470.0  27557.5  27422.5  27487.5       0        0.17

[3114 rows x 6 columns]

In [318]:
search_result = investpy.search_quotes(text='KOSPI 200 Futures', n_results=1)
print(search_result)

{"id_": 8987, "name": "KOSPI 200 Futures", "symbol": "KOR200c1", "country": "south korea", "tag": "/indices/korea-200-futures", "pair_type": "indices", "exchange": "KRX"}

In [319]:
KOSPI_F = investpy.search.search_quotes(text='KOR200c1', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
KOSPI_F

              Open    High     Low   Close  Volume  Change Pct
Date
2009-11-19  211.85  214.73  211.85  213.83       0        1.09
2009-11-20  213.13  214.63  212.78  213.98       0        0.07
2009-11-22  214.03  214.03  214.03  214.03       0        0.02
2009-11-23  214.53  215.28  213.03  214.08       0        0.02
2009-11-24  214.88  215.10  211.23  212.23       0       -0.86
...            ...     ...     ...     ...     ...         ...
2020-12-23  362.40  365.95  358.90  365.65  302778        1.36
2020-12-24  366.95  374.35  366.35  374.10  299688        2.31
2020-12-28  376.00  378.40  373.40  376.15  299491        0.55
2020-12-29  377.90  381.75  376.15  380.95  322922        1.28
2020-12-30  379.50  390.45  378.40  389.15  360837        2.15

[2814 rows x 6 columns]

In [320]:
search_result = investpy.search_quotes(text='Nasdaq 100 Futures', n_results=1)
print(search_result)

{"id_": 8874, "name": "Nasdaq 100 Futures", "symbol": "NQc1", "country": "united states", "tag": "/indices/nq-100-futures", "pair_type": "indices", "exchange": "CME"}

In [321]:
IXIC_F = investpy.search.search_quotes(text='NQc1', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
IXIC_F

                Open      High       Low     Close  Volume  Change Pct
Date
2000-01-03   3750.00   3895.00   3681.00   3844.50   15414        2.41
2000-01-04   3838.50   3842.50   3525.00   3557.50   15455       -7.47
2000-01-05   3557.50   3618.00   3395.00   3512.50   15272       -1.26
2000-01-06   3493.00   3553.00   3282.50   3312.50   15550       -5.69
2000-01-07   3284.50   3574.50   3257.00   3557.50   14126        7.40
...              ...       ...       ...       ...     ...         ...
2020-12-24  12660.75  12724.00  12631.50  12704.50  173464        0.42
2020-12-28  12676.25  12855.50  12655.25  12832.75  346691        1.01
2020-12-29  12845.25  12918.25  12808.25  12841.00  393995        0.06
2020-12-30  12860.75  12909.75  12820.50  12841.50  334304        0.00
2020-12-31  12840.00  12896.00  12796.50  12885.50  280573        0.34

[5385 rows x 6 columns]

In [322]:
search_result = investpy.search_quotes(text='Dow Jones Futures', n_results=1)
print(search_result)

{"id_": 8873, "name": "Dow Jones Futures", "symbol": "1YMc1", "country": "united states", "tag": "/indices/us-30-futures", "pair_type": "indices", "exchange": "CME"}

In [323]:
DJI_F = investpy.search.search_quotes(text='1YMc1', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
DJI_F

               Open     High      Low    Close  Volume  Change Pct
Date
2002-04-08  10278.0  10280.0  10105.0  10267.0    4234       -0.22
2002-04-09  10290.0  10312.0  10204.0  10222.0    4234       -0.44
2002-04-10  10229.0  10399.0  10215.0  10387.0    6189        1.61
2002-04-11  10378.0  10378.0  10158.0  10170.0    6372       -2.09
2002-04-12  10210.0  10240.0  10140.0  10194.0    5387        0.24
...             ...      ...      ...      ...     ...         ...
2020-12-24  30083.0  30151.0  29997.0  30109.0   51433        0.25
2020-12-28  30028.0  30418.0  29956.0  30305.0  111131        0.65
2020-12-29  30318.0  30502.0  30166.0  30238.0  116977       -0.22
2020-12-30  30273.0  30416.0  30211.0  30302.0   96134        0.21
2020-12-31  30328.0  30526.0  30230.0  30497.0   82990        0.64

[4839 rows x 6 columns]

In [324]:
search_result = investpy.search_quotes(text='S&P 500 Futures', n_results=1)
print(search_result)

{"id_": 8839, "name": "S&P 500 Futures", "symbol": "ESc1", "country": "united states", "tag": "/indices/us-spx-500-futures", "pair_type": "indices", "exchange": "CME"}

In [325]:
SP_F = investpy.search.search_quotes(text='ESc1', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
SP_F

               Open     High      Low    Close  Volume  Change Pct
Date
2000-01-03  1489.00  1496.00  1452.25  1466.75   61938       -1.18
2000-01-04  1467.00  1468.75  1409.50  1411.75   64048       -3.75
2000-01-05  1411.50  1427.25  1385.00  1413.50   73121        0.12
2000-01-06  1411.00  1426.25  1395.75  1404.00   67883       -0.67
2000-01-07  1403.75  1461.50  1397.50  1460.50   60545        4.02
...             ...      ...      ...      ...     ...         ...
2020-12-24  3685.25  3696.00  3678.50  3695.00  369650        0.37
2020-12-28  3682.00  3732.25  3676.00  3727.50  760654        0.88
2020-12-29  3731.00  3747.75  3714.50  3720.00  992636       -0.20
2020-12-30  3724.50  3738.25  3716.50  3724.25  769995        0.11
2020-12-31  3725.00  3753.00  3715.00  3748.75  993343        0.66

[5378 rows x 6 columns]

In [326]:
search_result = investpy.search_quotes(text='Russell Futures', n_results=1)
print(search_result)

{"id_": 1174944, "name": "Russell 2000 Futures", "symbol": "US2000", "country": "united states", "tag": "/indices/smallcap-2000-futures?cid=1174944", "pair_type": "indices", "exchange": "US Indexes"}

In [327]:
RUSSELL_F = investpy.search.search_quotes(text='US2000', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
RUSSELL_F

               Open     High      Low    Close  Volume  Change Pct
Date
2001-01-03   462.49   484.39   459.28   484.39       0        4.74
2001-01-04   484.39   484.39   475.90   477.20       0       -1.48
2001-01-05   477.20   477.31   461.76   463.14       0       -2.95
2001-01-08   463.14   463.14   457.56   461.64       0       -0.32
2001-01-09   461.64   466.40   461.39   463.95       0        0.50
...             ...      ...      ...      ...     ...         ...
2020-12-24  2013.18  2013.97  1997.18  2003.95       0       -0.16
2020-12-28  2013.49  2026.24  1996.25  1996.25       0       -0.38
2020-12-29  1996.73  2001.70  1950.82  1959.36       0       -1.85
2020-12-30  1961.72  1987.78  1961.72  1979.99       0        1.05
2020-12-31  1979.93  1981.41  1963.26  1974.86       0       -0.26

[5037 rows x 6 columns]

In [328]:
search_result = investpy.search_quotes(text='US dollar index Futures', products=['fxfutures'], n_results=1)
print(search_result)

{"id_": 8827, "name": "US Dollar Index Futures", "symbol": "DX", "country": "united states", "tag": "/currencies/us-dollar-index", "pair_type": "fxfutures", "exchange": "ICE"}

In [329]:
USDX_F = investpy.search.search_quotes(text='DX', n_results=1).retrieve_historical_data(from_date=start_date, to_date=end_date)
USDX_F

               Open     High      Low    Close  Volume  Change Pct
Date
2000-01-03  101.390  101.570   99.850   99.890    2616       -1.62
2000-01-04  100.180  100.370   99.700  100.100     995        0.21
2000-01-05  100.090  100.160   99.400  100.050     889       -0.05
2000-01-06  100.050  100.480   99.600  100.340    1548        0.29
2000-01-07  100.180  100.700  100.160  100.500    2849        0.16
...             ...      ...      ...      ...     ...         ...
2020-12-24   90.185   90.310   90.075   90.250   10826       -0.10
2020-12-28   90.260   90.320   89.895   90.275   18455        0.03
2020-12-29   90.160   90.165   89.785   89.918   17249       -0.40
2020-12-30   89.868   89.900   89.515   89.649       0       -0.30
2020-12-31   89.520   89.965   89.475   89.894   13094        0.27

[5385 rows x 6 columns]